<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Numero Aleatorio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Numeros Aleatorios</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label position="floating">Intenta adivinar un número aleatorio del 1 al 100</ion-label>
    <ion-input placeholder="Introduce un número" required></ion-input>
  <div id="container">
  
  </div>
</ion-content>
